
  <div class="background-color">

<div class="screen-view-container">
<div class="news-events-wrap">

  <div class="news-info-container" (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()">
    <button class="left-arrow" (click)="onSwipeRight()"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="18" height="15"><path d="M8.5 4.5l-3 3 3 3" stroke="#11AAFF" stroke-linecap="square"></path></svg></button>
    <button class="right-arrow" (click)="onSwipeLeft()"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="18" height="15"><path d="M6.5 10.5l3-3-3-3" stroke="#11AAFF" stroke-linecap="square"></path></svg></button>
    <div class="news-title">
      <h1 class="news-title">News</h1>   
      <h1 class="date-title">{{date | date: "EEEE, MMMM d, y"}}</h1> 
    </div>
    <div *ngIf="dataNewsFilteredObject && dataNewsFilteredObject.length > 0">
      <div class="points-wrap" *ngIf="isContentVisible" @fadeSlide>
        <div class="news-content-wrap">
          <img *ngIf="dataNewsFilteredObject[activeIndex]" class="news-img" src="{{dataNewsFilteredObject[activeIndex].illustration}}" alt="">
          <h1 *ngIf="dataNewsFilteredObject[activeIndex]">{{dataNewsFilteredObject[activeIndex].title | capitalize : 'sentenceCase'}}</h1>
          <p *ngIf="dataNewsFilteredObject[activeIndex]">{{dataNewsFilteredObject[activeIndex].description}}</p>
        </div>
      </div>
    </div>
    <div class="point-slider">
      <div *ngFor="let item of dataNewsFilteredObject; let i = index" class="dot" [class.active]="i === activeIndex"></div>
    </div>
  </div>
    
  <div class="events-title-wrap">
    <h1 class="event-title">Next events</h1>

    <div class="event-info-container" *ngIf="displayedEvents">
      <!-- [ngStyle]="{'background-color': getColor(i)}" -->
      <div
      *ngFor="let event of displayedEvents; index as i"
      class="event-list-container"
      @fadeInOut
  
    >
        <div class="event-title-wrap">
          <div>
            <img *ngIf="event.active" src="{{event.illustration}}" alt="">
          </div>
          <div>
          <div *ngIf="event.active" class="event-time-wrap">
          <p class="event-time">{{ event.event_date | date : "MMMM d" }}, {{ event.event_date | date : "yyyy"}} - {{event.time}}</p>
</div>
          <h3 *ngIf="event.active">{{ event.title }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="important-info-container" *ngIf="this.importantService.dataImportantFilteredObject && this.importantService.dataImportantFilteredObject.length > 0">
      <marquee class="marquee" direction="left" scrolldelay="80" behavior="loop">{{ this.importantService.dataImportantFilteredObject[this.importantService.dataImportantFilteredObject.length - 1].description}} {{ this.importantService.dataImportantFilteredObject[this.importantService.dataImportantFilteredObject.length - 1].description}} {{ this.importantService.dataImportantFilteredObject[this.importantService.dataImportantFilteredObject.length - 1].description}}</marquee>
  </div>
  

</div>
</div>
