<div class="screen-view-container">
  <button><a href="/main">ADD</a></button>
  <div class="calendar">
    <app-calendar></app-calendar>
  </div>
  <div class="main-info-container">
    <h2>{{ mainSectionObject.title }}</h2>
    <p>{{ mainSectionObject.when }}</p>
    <p>{{ mainSectionObject.description }}</p>
  </div>
  <div class="events-title-wrap">
    <h1 class="event-title">Next events</h1>

    <div class="event-info-container">
      <div
        *ngFor="let event of eventSectionObject"
        class="event-list-container"
      >
        <div class="event-title-wrap">
          <h3>{{ event.title }}</h3>
          <p>{{ event.date | date : "dd.MM.yyyy" }}</p>
        </div>
        <p>{{ event.description }}</p>
      </div>
    </div>
  </div>
  <div class="important-info-container">
    <p>{{ importantSectionObject.description }}</p>
  </div>
</div>
