// .base{
//   height: 100%;
//   margin: 0;
// }

.background-color{
  // width: 100vw;
  // height: fit-content;
  height: 100%;
  background: linear-gradient(135deg,  #42389E, #001155, #086ADB, #7F2879);
.screen-view-container {
  // height: fit-content;
  // width: 100%;
  // height: 100vh;
  // max-height: 100vh; 
  // height: auto;
  background-repeat: no-repeat;
  // height: 100vh;
  // background-color: #EEF3F6;
  // background-color: #efefef;
  // background-image: linear-gradient(to right bottom, #001155, #08206c, #0f3085, #13419e, #1352b8, #1b56bf, #2259c5, #285dcc, #3354c1, #3a4bb5, #3f41aa, #42389e);
  // background: linear-gradient(135deg,  #42389E, #001155, #11AAFF, #7F2879);
  .news-events-wrap {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 1em 5em;
    // grid-template-rows: auto; 
  // align-items: stretch;     
  // height: auto;  

    .news-info-container {
      position: relative;
      padding-right: 3em;
      .news-title {
        display: flex;
        align-items: baseline;
        gap: 2em;
        padding-left: 0.8rem;
        font-size: 3rem;
        color: white;
        font-family: SwissFontTwo;
        .date-title{
          font-size: 1.8rem;
          color: white;
          font-family: SwissFont;
        }
      }
      .points-wrap{
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        // box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        border-radius: 14px;
        background-color: #f9f9f9;
        padding: 1.5em;
        padding-bottom: 2.5em !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
              .news-content-wrap {
        height: 500px;
        .news-img {
          width: 100%;
          height: 40%;
          object-fit: cover;
          border-radius: 8px;
        }
        h1{
          text-align: center;
          font-family: SwissFontTwo;
          color: #001155;
          font-size: 34px;
          margin: 0.2rem;
        }
        p{
          text-align: justify;
          overflow: hidden;
          text-overflow: ellipsis;
          // max-height: 10em;
          // padding-bottom: 20px;
          // max-height: 10em;
          padding: 0 10px;
          box-sizing: border-box;
          font-family: SwissFont;
          color: #333333;
          font-size: 18px;
        }
      }
      }
    }
    .events-title-wrap {
      .event-title {
        color: white;
        font-family: SwissFontTwo;
        font-size: 3rem;
         padding-left: 1.8rem;
      }
      .event-info-container {
        // box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        border-radius: 14px;
        background-color:  #EEF3F6;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 0.7em;
        height: 500px;
        .event-list-container {
          display: flex;
          flex-direction: column;
          align-items: left;
          .event-title-wrap {
            display: flex;
            gap: 0.7em;
            img {
              width: 230px;
              height: 130px;
              border-radius: 8px;
            }
            .event-time-wrap {
              display: inline-block;
              padding: 0.2em 0.9em;
              border-radius: 8px;
              background-color: #001155;
              .event-time {
                font-size: 1.125rem;
                color: white;
                font-family: SwissFontTwo;
                margin: 0;
              }
            }
            h3 {
              font-family: SwissFont;
              color: #001155;
              font-size: 1rem;
            margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
  .important-info-container {
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 5em;
    bottom: -2.5em;
    text-align: center;
    padding-top: 1.3em;
    // border: 2px solid black;
    // padding-bottom: 1em;
    // background-color:  #DDE3E7;
    // background-color: #e6cec6;
    // background-color: #d85762;
    background-color: #e8c4c4;
    .marquee{
      font-family: SwissFontBold;
      font-size: 34px;
      // color: #DD1122;
      color: #c70f1f;
      // color: #8f2e2e;
    }
  }
}
}
.point-slider {
  position: absolute;
  bottom: 3%;
  left: 45%;
  display: flex;
  justify-content: center;
}

.dot {
  height: 7px;
  width: 7px;
  margin: 0 3px;
  background-color: #ADADAD;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #11AAFF;
}

.left-arrow, .right-arrow {
  display: none;
}

@media only screen and (max-width: 435px) {
  .background-color{
    height: 100vh !important;
  }
  .screen-view-container {
    height: 100vh;
  }
  .news-info-container {
    padding-right: 0 !important;
    .background-color {
      height: 100vh !important;
    }
    .left-arrow, .right-arrow {
      display: flex;
      position: absolute;
      top: 26%;
      transform: translateY(-50%);
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .left-arrow {
      left: 7%;
    }
    .right-arrow {
      right: 7%;
    }
  
    .left-arrow svg, .right-arrow svg {
      width: 18px;
      height: 18px;
    }
  }
  .news-events-wrap {
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 1rem !important;
  }

  .important-info-container {
    height: 4rem !important;
    top: 6rem !important;
    text-align: center;
    padding-top: 1rem !important;
  }
  .news-title {
    gap: 1rem !important;
    padding-left: 0.8rem;
    font-size: 1.5rem !important;
    padding-bottom: 0.2rem;
    .date-title{
      font-size: 1rem !important;
    }
  }
  .news-content-wrap {
    height: 500px;
    .news-img {
      width: 100%;
      height: 30% !important;
    }
    h1{
      font-family: SwissFontTwo;
      font-size: 20px !important;
      padding: 0 0 0.8rem 0 !important;
      margin: 0 !important;
    }
    p{
      margin: 0.2rem !important;
      padding: 0 6px !important;
      font-size: 13px !important;
    }
  }
  .events-title-wrap {
    .event-title {
      font-size: 1.5rem !important;
      padding: 0.5rem 0 0.5rem 0;
    }
    .event-info-container {
      border-radius: 14px;
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      gap: 0.7em;
      margin-bottom: 1rem;
      .event-list-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        .event-title-wrap {
          display: flex;
          gap: 0.7em;
          img {
            width: 130px !important;
            height: 80px !important;
            border-radius: 8px;
          }
          .event-time-wrap {
            display: inline-block;
            padding: 0.2rem 0.5rem !important;
            border-radius: 4px !important;
            .event-time {
              font-size: 0.5rem !important;
              padding: 0 !important;
            }
          }
          h3 {
            margin: 0 !important;
            margin-top: 0.2rem !important;
            font-size: 0.8rem !important;
          }
        }
      }
    }
  }
}


// .calendar {
//   margin: 2em 0 0 2em;
//   width: 17em;
//   height: 10em;
//   // border: solid 1px #3333;
//   text-align: center;
// }
