<div class="news-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="newsInputForm">
      <div *ngIf="showSuccessMessage" class="success-message" [class.fade-out]="!formSubmittedSuccessfully">
        News was added successfully!
      </div>
      <input
        type="text"
        placeholder="Title"
        formControlName="title"
        name="title"
        id="title"
      />
      <div
      class="error-message"
      *ngIf="
      newsInputForm.controls['title'].invalid &&
      newsInputForm.controls['title'].touched
      "
      class="error-message"
    >
      <div *ngIf="newsInputForm.controls['title'].errors?.['required']">
       Title is required
      </div>
    </div>
      <textarea
        type="text"
        placeholder="Description"
        formControlName="description"
        name="description"
        id="description"
      ></textarea>
      <div
      class="error-message"
      *ngIf="
      newsInputForm.controls['description'].invalid &&
      newsInputForm.controls['description'].touched
      "
      class="error-message"
    >
      <div *ngIf="newsInputForm.controls['description'].errors?.['required']">
        Description is required
      </div>
    </div>
      <input
      type="text"
      placeholder="Image link"
      formControlName="illustration"
      name="illustration"
      id="illustration"
    />
    <div
      class="error-message"
      *ngIf="
      newsInputForm.controls['illustration'].invalid &&
      newsInputForm.controls['illustration'].touched
      "
      class="error-message"
    >
      <div *ngIf="newsInputForm.controls['illustration'].errors?.['required']">
        Illustration link is required
      </div>
    </div>
      <button type="submit" [disabled]="newsInputForm.invalid">Add</button>
    </form>
  </div>


      <!-- <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
        formControlName="file"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
      />

      <div class="file-upload">
        {{ fileName || "No file uploaded yet." }}

        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUpload.click()"
        >
        </button>
      </div> -->
      <!-- <div class="file-upload-wrap">
        <input type="file" id="file" name="file" />
        <input type="submit" value="Upload" />
      </div> -->