<app-navbar></app-navbar>
<div>
  <div class="main-wrap">
    <form (ngSubmit)="onSubmit()" [formGroup]="mainInputForm">
      <input
        type="text"
        placeholder="Title"
        formControlName="title"
        name="title"
        id="title"
      />
      <input
        type="text"
        placeholder="When"
        formControlName="when"
        name="when"
        id="when"
      />
      <input
        type="text"
        placeholder="Description"
        formControlName="description"
        name="description"
        id="description"
      />
      <input
      type="text"
      placeholder="Image link"
      formControlName="illustration"
      name="illustration"
      id="illustration"
    />
      <button type="submit">add</button>
      <!-- <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
        formControlName="file"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
      />

      <div class="file-upload">
        {{ fileName || "No file uploaded yet." }}

        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUpload.click()"
        >
        </button>
      </div> -->
      <!-- <div class="file-upload-wrap">
        <input type="file" id="file" name="file" />
        <input type="submit" value="Upload" />
      </div> -->
    </form>
  </div>
  <a href="/">Main screen</a>
</div>
