<app-navbar></app-navbar>
<div>
  <div class="main-wrap">
    <form (ngSubmit)="onSubmit()" [formGroup]="mainInputForm">
      <input
        type="text"
        placeholder="Title"
        formControlName="title"
        name="title"
        id="title"
      />
      <input
        type="text"
        placeholder="When"
        formControlName="when"
        name="when"
        id="when"
      />
      <input
        type="text"
        placeholder="Description"
        formControlName="description"
        name="description"
        id="description"
      />
      <button type="submit">add</button>
      <!-- <div class="file-upload-wrap">
        <input type="file" id="file" name="file" />
        <input type="submit" value="Upload" />
      </div> -->
    </form>
  </div>
  <a href="/">Main screen</a>
</div>
