<nav>
  <ul>
    <li>
      <a
        [routerLink]="['/main']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Main</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/event']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Event</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/important']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Important</a
      >
    </li>
  </ul>
</nav>
