.event-wrap {
  display: flex;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    input {
      width: 12em;
      padding: 0.5em;
      border: 1px solid #56423d;
    }
  }
}
