.event-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 8rem;
    width: 100%; 
    box-sizing: border-box; 
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:stretch;
      gap: 1rem;
      width: 100%; 
      max-width: 600px; 
      margin: 0 auto; 
      input {
        padding: 0.7rem;
      border: 1px solid #086ADB;
      border-radius: 8px;
      width: 100%;
      box-sizing: border-box; 
      }
      button {
        border-radius: 8px;
        padding: 0.7rem;
        border: 1px solid #086ADB;
        background-color: #086ADB;
        color: white;
        width: 100%; 
        box-sizing: border-box;
        transition: background-color 0.3s ease;
        cursor: pointer;
      }
      button:hover{
        background-color: #0048CF;
      }
  }
}

.error-message {
  color: #d18680;
  font-family: SwissFont;
  font-size: 0.8rem;
  text-align: left;
  width: 60%;
}


@media only screen and (max-width: 400px) {
  .event-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem;
    input {
      padding: 0.4rem !important;
      border: 1px solid #086ADB;
      border-radius: 6px !important;
    }
    button{
      border-radius: 6px !important;
      padding: 0.3rem !important;
      border: 1px solid #086ADB;
    }
  }
  }

