<div class="event-container">
  <div class="event-wrap">
    <form (ngSubmit)="onSubmit()" [formGroup]="eventInputForm">
      <input type="text" placeholder="Title" formControlName="title" />
      <input type="date" placeholder="Date" formControlName="created_at" />
      <input type="time" name="" id="" formControlName="time">
      <input
      type="text"
      placeholder="Image link"
      formControlName="illustration"
      name="illustration"
      id="illustration"
    />
      <input type="submit" value="Add" />
    </form>
  </div>
  <div class="event-info-wrap">
    <h1>Current Events</h1>
    <div class="event-list">
      <p>Title</p>
      <p>
        Lorem ipsum dolor sit amet <br />
        consectetur adipisicing elit. <br />
        Neque, cupiditate!
      </p>
      <button>Delete</button>
      <button>Copy</button>
    </div>
  </div>
</div>
<div class="test-a">
  <a href="/">Main screen</a>
</div>
