<div class="event-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="eventInputForm">
      <input type="text" placeholder="Title" formControlName="title" />
      <input type="date" placeholder="Date" formControlName="event_date" />
      <input type="time" name="" id="" formControlName="time">
      <input
      type="text"
      placeholder="Image link"
      formControlName="illustration"
      name="illustration"
      id="illustration"
    />
    <button type="submit">Add</button>
    </form>
  </div>
  <!-- <div class="event-info-wrap">
    <h1>Current Events</h1>
    <div class="event-list">
      <p>Title</p>
      <p>
        Lorem ipsum dolor sit amet <br />
        consectetur adipisicing elit. <br />
        Neque, cupiditate!
      </p>
      <button>Delete</button>
      <button>Copy</button>
    </div>
  </div> -->

