<div class="screen-view-container">
    <button><a href="/news">ADD</a></button>
    <div class="calendar">
      <app-calendar></app-calendar>
    </div>
    <div class="main-info-container">
      <div *ngIf="this.newsService.dataNewsObject && this.newsService.dataNewsObject.length > 0">
      <p>{{this.newsService.dataNewsObject[0].title}}</p>
      <img class="main-img" src="{{this.newsService.dataNewsObject[0].illustration}}" alt="">
      </div>
    </div>
    <div class="events-title-wrap">
      <h1 class="event-title">Next events</h1>
  
      <div class="event-info-container">
        <div
          *ngFor="let event of this.dataService.dataEventsObject; index as i"
          class="event-list-container" [ngStyle]="{'background-color': getColor(i)}"
        >
          <div class="event-title-wrap">
            <h3>{{ event.title }}</h3>
            <p>{{ event.event_date | date : "dd.MM.yyyy" }}</p>
          </div>
          <!-- <p>{{ event.description }}</p> -->
        </div>
      </div>
    </div>
    <div class="important-info-container" *ngIf="this.dataService.dataObject && this.dataService.dataObject.length > 0">
        <p > {{ this.dataService.dataObject[this.dataService.dataObject.length - 1].description}}</p>
    </div>
  </div>
