.important-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 8rem;
  width: 100%; 
  box-sizing: border-box; 
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:stretch;
      gap: 1rem;
      width: 100%; 
      max-width: 600px; 
      margin: 0 auto; 
      input {
        padding: 0.7rem;
        border: 1px solid #086ADB;
        border-radius: 8px;
        width: 100%;
        box-sizing: border-box; 
      }
      button{
        border-radius: 8px;
        padding: 0.7rem;
        border: 1px solid #086ADB;
        background-color: #086ADB;
        color: white;
        width: 100%; 
        box-sizing: border-box;
        transition: background-color 0.3s ease;
      }
      button:hover{
        background-color: #0048CF;
      }
    }
  }



.current-info-wrap {
  h2 {
    font-size: 20px;
  }
  .event-list {
    margin-top: 1em;
    display: flex;
 align-items: center;
    p {
      font-size: 15px;
      padding: 3px;
      margin-right: 1em;
    }
    button{
      margin: 0.5em 0.5em;
    }
  }
}

.previous-info-container{
display: flex;
flex-direction: column;
  h2{
    font-size: 20px;
    margin-top: 3em;
  }
  .info-item{
    display: flex;
    gap: 2em;
padding-top: 1em;
justify-content: space-between;
.individual-info{
.history-info{
  font-weight: 300;
  font-size: 15px;
}
}
.history-buttons{
  display: flex;
  gap: 1em;
    .btn{
font-size: 10px ;
    background-color: #D1E6F9;
    border: solid 0.8px #5C5C5C;
    color: #333333;
  }
}
  }
}
.saved-container{
  margin-left: 150px;
  margin-bottom: 1em;
  h2{
    font-size: 20px;
    margin-top: 3em;
    font-weight: 500;
  }
  .saved-info-item{
    margin-top: 1em;
    padding:  0.3em 0.5em;
    display: flex;
    gap: 1em;
    align-items: center;
border: solid 0.8px  #5C5C5C;
width: 1000px;
font-weight: 300;
justify-content: space-between;
.saved-icons{
  display: flex;
  gap: 1em;
}
  }
}
.test-a {
position: absolute;
top: 0;
left: 2em;
}


.current-history-wrap{
display: flex;
flex-direction: column;
align-items: start;
padding: 1em 5em 0 5em;
margin-right: 10em;
align-content: flex-start;
}


.editable{
  padding: 5px 7px;
  border: solid 0.8px #5C5C5C;
  outline:none;
  background:transparent;
}

.general-btn-style{
  padding: 0.5em 1em;
  font-size: 13px;
  background-color: #fff;
  border: solid 0.8px #5C5C5C;
  transition: transform 0.2s ease-in-out;
}
.button-bigger {
  transform: scale(1.1);  /* 10% */
}

.pagination {
  position: absolute;
  display: inline-block;
  left: 40%;
  padding-top: 0.5em;
}

.pagination a {
  color:  #474747;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
font-size: 14px;
}