<app-navbar></app-navbar>
<div class="important-container">
  <div class="important-wrap">
    <form
      method="post"
      [formGroup]="importantInputForm"
      (ngSubmit)="onSubmit()"
    >
      <input
        type="text"
        placeholder="Description"
        formControlName="description"
      />
      <button type="submit">Add</button>
    </form>
  </div>
  <div class="important-info-wrap">
    <h1>Current</h1>
    <div class="event-list">
      <p>
        Lorem ipsum dolor sit amet <br />
        consectetur adipisicing elit. <br />
        Neque, cupiditate!
      </p>
      <button>Delete</button>
      <button>Edit</button>
    </div>
  </div>
</div>
<div class="test-a">
  <a href="/">Main screen</a>
</div>
