.dashboard-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 10px 1fr;
  grid-template-areas:
    "side header"
    "side main";
  .header {
    background-color: #eef3f6;
    grid-area: header;
  }
  .sidebar {
    background-color: #f8fafb;
    grid-area: side;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    .user-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #086adb;
      margin-top: 3rem;
    }
    .add-container {
        .add-list {
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #001155;
          font-family: SwissFont;
          svg {
            margin-right: 0.5rem;
            cursor: pointer;
          }
        }
      }
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 1rem;
        cursor: pointer;
        a{
            text-decoration: none;
            color: #001155;
            font-family: SwissFont;
        }
      }
    }

  }
  .main-content {
    background-color: white;
    grid-area: main;
  }
}
