*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*,
body {
  margin: 0;
  // height: 100vh;
  // padding: 0;
  // box-sizing: border-box;
}

// html,
// body {
//    height: 100%;
// }

@font-face {
  font-family: SwissFont;
  src: url('./assets/fonts/TheSansSwisscom_33_TT.ttf') format('truetype');
}
@font-face {
  font-family: SwissFontOne;
  src: url('./assets/fonts/TheSansSwisscom_37_TT.ttf') format('truetype');
}
@font-face {
  font-family: SwissFontTwo;
  src: url('./assets/fonts/TheSansSwisscom_55_TT.ttf') format('truetype');
}
@font-face {
  font-family: SwissFontBold;
  src: url('./assets/fonts/TheSansSwisscom_57_TT.ttf') format('truetype');
}

:root {
  --background-color: #ffff;
  --main-color: #f95738;
  --font-title-size: 36px;
  --font-text-size: 16px;
  --font-dark: #333333;
  --font-gray: #adadad;
}
